.App {
  font-family: sans-serif;
  text-align: center;
  padding: 20px;
}

input {
  margin: 10px;
  padding: 10px 20px;
}

button {
  margin: 10px;
  padding: 10px 20px;
  cursor: pointer;
}

.error-message {
  color: red;
}

/* Responsive image */
.responsive-image {
  width: 100%;
  height: auto;
  max-width: 512px; /* Adjust as needed */
}

/* Loading overlay */
.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

/* Custom loader */
.custom-loader {
  width: 100px;
  height: 100px;
  display: grid;
}

.custom-loader::before,
.custom-loader::after {
  content: "";
  grid-area: 1/1;
  --c: radial-gradient(farthest-side, #766DF4 92%, #0000);
  background: 
    var(--c) 50%  0, 
    var(--c) 50%  100%, 
    var(--c) 100% 50%, 
    var(--c) 0    50%;
  background-size: 24px 24px;
  background-repeat: no-repeat;
  animation: s2 1s infinite;
}

.custom-loader::before {
  margin: 8px;
  filter: hue-rotate(45deg);
  background-size: 16px 16px;
  animation-timing-function: linear;
}

@keyframes s2 { 
  100% { transform: rotate(.5turn); }
}

a {
  text-decoration: none;
  font-weight: 600;
  color: #FC9902;
}

a::after {
  color: #FC9902;
}
